.mobile-search-icon-popup {
  position: absolute;
  top: 10px;
  left: 50%;
}
.hamberger-menu {
  display: none;
}
.mobil-search-icon {
  display: none;
  position: relative;
  bottom: 20px;
  left: 10px;
}
.hamberger {
  background-color: #edeef4 !important;
  margin-top: 5px;
}
.hamberger-button {
  border: 0;
  background-color: #edeef4 !important;
}
.header-background {
  background-color: #edeef4 !important;
}
.logo-text {
  height: 55%;
  margin: 20px 10px 10px 15px;
  width: 200px;
  border-left: 1px solid rgb(114, 114, 114);
}

.logo-text > p {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
}
.banner-one-results-nav {
  background-color: white;
  margin-top: 5px;
  border: 0;
  position: absolute;
  border-radius: 5px;
  width: 250px;
  height: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header-one-inputbar {
  border: 0;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  font-size: 13px;
  font-weight: 400;
  width: 250px;
  padding: 15px 15px 15px 35px;
  outline: none;
}
.header-one-search-icon {
  position: absolute;
  top: 11px;
  font-size: 17px;
  right: 235px;
  color: black;
}
.mainmenu-nav .mainmenu {
  margin-left: -5% !important;
}
.header-input-result-detail {
  position: absolute;
  background-color: white;
}

.banner-one-results {
  margin-top: 5px;
}
.banner-one-results > ul {
  list-style: none;
  margin-bottom: 0px !important;
}
ul {
  list-style: none;
}
.banner-one-results > ul:hover {
  background-color: #f5f5f5;
}
ul > li {
  font-size: 14px;
}
ul > li:hover {
}
ul > li > a:hover {
  color: black;
}
@media screen and (max-width: 500px) {
  .logo {
    width: 270px !important;
  }
  .hamberger-menu {
    display: block;
  }
  .mobil-search-icon {
    display: block;
  }
  .page-banner-title {
    margin-top: 15px !important;
  }
  .header-quote {
    display: none !important;
  }
  .mainmenu-nav {
    display: none !important;
  }
  .header-one-navbar {
    width: 400px !important;
  }
  .edu-header .logo a img {
    width: 110% !important;
  }
  .edu-header.disable-transparent .logo a {
    margin-left: 15px !important;
    height: 50px;
    line-height: 90px;
  }
  .edu-header .logo a img {
    width: 85% !important;
  }
  .logo-text {
    display: none;
  }

  .mainmenu {
    margin-right: 60px !important;
  }
  .mainmenu-nav .mainmenu > li > a {
    font-size: 11px;
    padding: 0px 5px;
    height: 75px;
  }
}

@media screen and (max-width: 768px) {
  .hamberger-menu {
    display: block;
  }
  .mobil-search-icon {
    display: block;
  }
  .header-quote {
    display: none !important;
  }
  .hamberger {
    margin-left: 0px !important;
  }
  .mainmenu-nav {
    display: none !important;
  }
  .header-one-navbar {
    width: 400px !important;
  }
  .edu-header.disable-transparent .logo a {
    margin-left: 15px !important;
    height: 60px;
    line-height: 90px;
  }
  .edu-header .logo a img {
    width: 50% !important;
  }
  .logo-text {
    display: none;
  }
  .sticky .logo-text > p {
    margin-top: 11px !important;
  }

  .mainmenu {
    margin-right: 60px !important;
  }
  .mainmenu-nav .mainmenu > li > a {
    font-size: 11px !important;
    padding: 0px 5px;
    height: 75px;
  }
}

@media screen and (max-width: 992px) {
  .hamberger-menu {
    display: block;
  }
  .mainmenu-nav {
    display: none !important;
  }
  .header-one-navbar {
    width: 400px !important;
  }
  .edu-header.disable-transparent .logo a {
    margin-left: 15px !important;
    height: 55px;
    line-height: 90px;
  }
  .logo-text {
    height: 52%;
    margin: 14px 0px 10px 10px;
    width: 200px;
    border-left: 1px solid rgb(114, 114, 114);
  }
  .logo-text > p {
    margin-top: 4px !important;
    font-size: 12px !important;
  }
  .mainmenu {
    margin-right: 60px !important;
  }
  .mainmenu-nav .mainmenu > li > a {
    font-size: 11px !important;
    padding: 0px 5px;
    height: 75px;
  }
}
@media screen and (max-width: 1070px) {
  .hamberger-menu {
    display: block;
  }
  .mainmenu-nav {
    display: none !important;
  }
  .logo {
    width: 310px;
  }
  .header-one-navbar {
    width: 400px !important;
  }
  .edu-header.disable-transparent .logo a {
    margin-left: 15px !important;
    height: 55px;
    line-height: 90px;
  }
  .logo-text {
    height: 52%;
    margin: 14px 0px 10px 5px !important;
    width: 350px;
    border-left: 1px solid rgb(114, 114, 114);
  }
  .logo-text > p {
    margin-top: 4px !important;
    font-size: 12px !important;
  }
  .mainmenu {
    margin-right: 60px !important;
  }
  .mainmenu-nav .mainmenu > li > a {
    font-size: 11px !important;
    padding: 0px 5px;
    height: 75px;
  }
}

@media screen and (max-width: 1200px) {
  .hamberger-menu {
    display: block;
  }
  .mainmenu-nav {
    display: none !important;
  }
  .header-one-navbar {
    width: 400px !important;
  }
  .edu-header.disable-transparent .logo a {
    margin-left: 15px !important;
    height: 55px;
    line-height: 90px;
  }
  .logo-text {
    height: 52%;
    margin: 15px 10px 10px 5px !important;
    width: 200px;
    border-left: 1px solid rgb(114, 114, 114);
  }
  .logo-text > p {
    margin-top: 4px !important;
    font-size: 12px !important;
  }
  .mainmenu {
    margin-right: 50px !important;
  }
  .mainmenu-nav .mainmenu {
    margin-left: -5% !important;
  }
  .mainmenu-nav .mainmenu > li > a {
    font-size: 11px !important;
    padding: 0px 5px;
    height: 75px;
  }
  .hamberger {
    margin-left: 40px;
  }
  .header-right {
    margin-right: -60px;
  }
  .header-one-search-icon {
    right: 180px;
  }
}
@media screen and (max-width: 1440px) {
  .edu-header.disable-transparent .logo a {
    margin-left: 15px !important;
    height: 45px;
    line-height: 90px;
  }
  .logo-text {
    height: 52%;
    margin: 13px 0px 10px 7px;
    width: 200px;
    border-left: 1px solid rgb(114, 114, 114);
  }
  .logo-text > p {
    margin-top: 3px !important;
    font-size: 12px !important;
  }
  .mainmenu {
    margin-right: 60px !important;
  }
  .mainmenu-nav .mainmenu > li > a {
    font-size: 11px !important;
    padding: 0px 5px;
    height: 75px;
  }
}

@media screen and (max-width: 1620px) {
  .edu-header.disable-transparent .logo a {
    height: 55px;
    line-height: 90px;
  }
  .logo-text {
    height: 55%;
    margin: 15px 10px 10px 15px;
  }
  .logo-text > p {
    font-size: 13px !important;
    font-weight: bold;
    margin-top: 5px !important;
    margin-left: 5px;
  }
  .mainmenu-nav .mainmenu {
    margin-right: 45px;
  }
  .mainmenu-nav .mainmenu > li > a {
    color: #231f40;
    font-size: 13px !important;
    font-weight: 600;
    padding: 0px 5px;
    display: block;
    height: 80px;
    line-height: 80px;
    transition: 0.3s;
  }
}
@media screen and (max-width: 1750px) {
  .edu-header.disable-transparent .logo a {
    height: 55px;
    line-height: 90px;
  }
  .logo-text {
    height: 55%;
    margin: 15px 10px 10px 15px;
  }
  .logo-text > p {
    font-size: 13px !important;
    font-weight: bold;
    margin-top: 5px !important;
    margin-left: 5px;
  }
  .mainmenu-nav .mainmenu {
    margin-right: 45px;
  }
  .mainmenu-nav .mainmenu > li > a {
    color: #231f40;
    font-size: 13px !important;
    font-weight: 600;
    padding: 0px 5px;
    display: block;
    height: 80px;
    line-height: 80px;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1920px) {
  .edu-header.disable-transparent .logo a {
    height: 55px;
    line-height: 90px;
  }
  .logo-text {
    height: 55%;
    margin: 14px 10px 10px 15px !important;
  }
  .logo-text > p {
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 5px;
  }
  .mainmenu-nav .mainmenu {
    margin-right: 45px;
  }
  .mainmenu-nav .mainmenu > li > a {
    color: #231f40;
    font-size: 15px;
    font-weight: 600;
    padding: 0px 5px;
    display: block;
    height: 80px;
    line-height: 80px;
    transition: 0.3s;
  }
}
