.activity-content{
    margin: 0px 0px 100px 0px !important;
    padding: 25px;
}
.card-content {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
}
.card-link-text {
    margin-top: 20px;
    border-top: 1px solid gray;
    display: flex;
    padding: 10px;
    justify-content: end;
    align-items: end;
}
.card-link-text > p {
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.activity-badge {
    background-color: #c6edff;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    width: 20% !important;
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 31%!important;
    height: auto;
}
.activity-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 100% 5%;
}
.activity-content-date{
    font-size: 14px;
    display: flex;
    align-items: center;
}
.activity-date-icon{
    font-size: 18px;
    margin-right: 5px;
    color: #f86f03;
}
.activity-title{
    font-size: 15px;
}
.card-link-text > p {
    font-size: 15px;
    margin: 0 0 -18px;
}
.course-card-text {
    margin: 7px 0px -4px 0px;
}

.activity-card {
    background-color: aqua;
}


@media only screen and (min-device-width: 200px) and (max-device-width: 400px) {
    .edu-section-gap {
        padding: 12px 0 !important;
    }
    .page-banner-title {
        font-size: 14px;
        margin-top: 15px;
    }
    .activity-content {
        margin: 0px 0px 0px 0px !important;
        padding: 25px;
    }
    .activity-title {
        font-size: 10px;
    }
    .activity-content-date {
        font-size: 10px;
    }
    .activity-date-icon {
        font-size: 14px;
    }
    .card-link-text > p {
        font-size: 10px;
    }
    .activity-badge {
        font-size: 10px;
    }
    .activity-card-image {
        height: 190px;
    }
    .activity-badge{
        width: 24%!important;
    }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 768px) {
    .edu-section-gap {
        padding: 15px 0 !important;
    }
    .activity-content {
        margin: 0px 0px 0px 0px !important;
        padding: 25px;
    }
    .activity-title {
        font-size: 11px;
    }
    .activity-content-date {
        font-size: 11px;
    }
    .activity-date-icon {
        font-size: 14px;
    }
    .card-link-text > p {
        font-size: 10px;
    }
    .activity-badge {
        font-size: 10px;
    }
    .activity-card-image {
        height: 240px;
    }
    .activity-badge{
        width: 24%!important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .activity-content {
        margin: 0px 0px 0px 0px !important;
        padding: 25px;
    }
    .activity-title {
        font-size: 10px;
    }
    .activity-content-date {
        font-size: 10px;
    }
    .activity-date-icon {
        font-size: 14px;
    }
    .card-link-text > p {
        font-size: 10px;
    }
    .activity-badge {
        font-size: 10px;
    }
    .activity-card-image {
        height: 240px;
    }
    .activity-badge{
        width: 24%!important;
    }
}

@media only screen and (min-device-width: 991px) and (max-device-width: 1150px) {
    .activity-content {
        margin: 0px 0px 0px 0px !important;
        padding: 25px;
    }
    .activity-title {
        font-size: 10px;
    }
    .activity-content-date {
        font-size: 10px;
    }
    .activity-date-icon {
        font-size: 14px;
    }
    .card-link-text > p {
        font-size: 10px;
    }
    .activity-badge {
        font-size: 10px;
    }
    .activity-card-image {
        height: 240px;
    }
    .activity-badge{
        width: 24%!important;
    }
}

@media only screen and (min-device-width: 1150px) and (max-device-width: 1440px) {
    .activity-content {
        margin: 0px 0px 0px 0px !important;
        padding: 25px;
    }
    .activity-title {
        font-size: 12px;
    }
    .activity-content-date {
        font-size: 12px;
    }
    .activity-date-icon {
        font-size: 16px;
    }
    .card-link-text > p {
        font-size: 12px;
    }
    .activity-badge {
        font-size: 12px;
    }
    .activity-card-image {
        height: 280px;
    }
    .activity-badge{
        width: 28%!important;
    }
    
    
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1600px) {
    .activity-content {
        margin: 0px 0px 0px 0px !important;
        padding: 25px;
    }
    .activity-title {
        font-size: 13px;
    }
    .activity-content-date {
        font-size: 13px;
    }
    .activity-date-icon {
        font-size: 17px;
    }
    .card-link-text > p {
        font-size: 13px;
    }
    .activity-badge {
        font-size: 13px;
    }
    .activity-card-image {
        height: 290px;
    }
    .activity-badge{
        width: 29%!important;
    }
}

@media only screen and (min-device-width: 1600px) and (max-device-width: 1920px) {
    .activity-content {
        margin: 0px 0px 0px 0px !important;
        padding: 25px;
    }
}
@media only screen and (min-device-width: 1920px) and (max-device-width: 2560px) {
    .activity-content {
        margin: 0px 0px 0px 0px !important;
        padding: 25px;
    }
}