.bulten-card {
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bulten-card-image {
    width: 100px;
    height: 100px;
}
.bulten-card-title {
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.bulten-card-download {
    border-top: 1px solid #e3e3e3;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    color: black;
}
