.bulten-card {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bulten-card-body > p {
  margin: 0px 0px 0px 25px;
}
.bulten-card-img {
  width: auto;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
  object-position: 100% 20%;
}
.bulten-card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bulten-card-header {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-left: 50px;
}
.bulten-card-text {
  margin-left: 50px;
}
.bulten-card-download {
  border-top: 1px solid #e3e3e3;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  color: black;
  display: flex;
  justify-content: end;
}
.bulten-card-download > a {
  margin-top: 10px;
}
.bulten-card-download > a:hover {
  color: rgb(86, 86, 86);
}
@media screen and (max-width: 425px) {
  .bulten-card {
    flex-direction: column;
  }
  .bulten-card-body > p {
    margin: 0px 0px 0px 10px;
  }
  .bulten-card-img {
    width: auto;
    object-position: 50% 50%;
    border-radius: 5px 5px 0px 0px;
  }
  .bulten-card-header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .bulten-card-text {
    font-size: 12px;
  }
  .bulten-card-download {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .bulten-card {
    flex-direction: column;
  }
  .bulten-card-body > p {
    margin: 0px 0px 0px 10px;
  }
  .bulten-card-img {
    width: auto;
    object-position: 50% 50%;
    border-radius: 5px 5px 0px 0px;
  }
  .bulten-card-header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .bulten-card-text {
    font-size: 13px;
  }
  .bulten-card-download {
    font-size: 13px;
  }
}
@media screen and (max-width: 991px) {
  .bulten-card {
    flex-direction: column;
  }
  .bulten-card-img {
    width: 100% !important;
    object-position: 50% 50%;
    border-radius: 5px 5px 0px 0px;
  }
  .bulten-card-body > p {
    margin: 0px 0px 0px 10px;
  }
  .bulten-card-header {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .bulten-card-text {
    font-size: 14px;
  }
  .bulten-card-download {
    font-size: 13px;
  }
}
@media screen and (max-width: 1150px) {
  .bulten-card {
    flex-direction: column !important;
  }
  .bulten-card-img {
    width: 100% !important;
    object-position: 50% 50%;
  }
  .bulten-card-header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .bulten-card-body > p {
    margin: 0px 0px 0px 20px;
  }
  .bulten-card-text {
    font-size: 14px;
  }
  .bulten-card-download {
    font-size: 13px;
  }
  .bulten-card-body{
    width: 100% !important;
  }
  .bulten-card-head{
    width: 100% !important;
  }
}

@media screen and (max-width: 1440px) {
  .bulten-card-img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: 100% 20%;
  }
  .bulten-card-header {
    font-size: 23px;
  }
  .bulten-card-text {
    font-size: 13px;
  }
  .bulten-card-body > p {
    margin: 0px 0px 0px 25px;
  }
  .bulten-card-download {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1600px) {
  .bulten-card-img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: 100% 20%;
  }
  .bulten-card-header {
    font-size: 23px;
  }
  .bulten-card-text {
    font-size: 13px;
  }
  .bulten-card-body > p {
    margin: 0px 0px 0px 25px;
  }
  .bulten-card-download {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1920px) {
  .bulten-card-img {
    width: 40%;
    height: 250px;
    object-fit: cover;
    object-position: 100% 20%;
  }
  .bulten-card-header {
    font-size: 30px;
  }
  .bulten-card-body > p {
    margin: 0px 0px 0px 25px;
  }
  .bulten-card-download {
    font-size: 15px;
  }
}
