.instagram-footer-background {
  border-radius: 5px;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.footer-card-container {
  position: relative;
}
.footer-card-content {
  top: -30rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-card-picture {
  width: 70%;
}
.footer-one-card-text {
  color: white;
  font-weight: bold;
  font-size: 52px;
  line-height: initial;
}
.footer-one-card-button {
  background-color: rgb(61, 61, 61);
  width: 11%;
  height: 47%;
  font-size: 34px;
  margin-top: 4rem;
  border: none;
  border-radius: 5px;
  color: white;
}
.footer-one-card-button:hover {
  box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.footer-card-inside {
  position: absolute;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  bottom: 2rem;
}

@media screen and (max-width: 2100px) {
  .footer-one-card-text {
    font-size: 40px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    height: 42%;
    margin-top: 2rem;
  }
  .footer-card-inside {
    bottom: 0rem;
  }
  .footer-card-content {
    top: -27rem;
  }
}
@media screen and (max-width: 1922px) {
  .footer-one-card-text {
    font-size: 40px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    height: 42%;
    margin-top: 2rem;
  }
  .footer-card-inside {
    bottom: -10rem;
  }
  .footer-card-content {
    top: -17rem;
  }
}
@media screen and (max-width: 1780px) {
  .footer-one-card-text {
    font-size: 31px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 28px;
    height: 32%;
    margin-top: 2rem;
  }
  .footer-card-inside {
    bottom: -10rem;
  }
  .footer-card-content {
    top: -17rem;
  }
}
@media screen and (max-width: 1600px) {
  .footer-one-card-text {
    font-size: 28px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 26px;
    height: 30%;
    margin-top: 2rem;
  }
  .footer-card-inside {
    bottom: -11rem;
  }
  .footer-card-content {
    top: -14rem;
  }
}
@media screen and (max-width: 1440px) {
  .footer-one-card-text {
    font-size: 25px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 23px;
    height: 30%;
    margin-top: 1rem;
  }
  .footer-card-inside {
    bottom: -13rem;
  }
  .footer-card-content {
    top: -11rem;
  }
}
@media screen and (max-width: 1200px) {
  .footer-one-card-text {
    font-size: 22px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 20px;
    height: 25%;
    margin-top: 1rem;
  }
  .footer-card-inside {
    bottom: -13rem;
  }
  .footer-card-content {
    top: -10rem;
  }
}
@media screen and (max-width: 991px) {
  .footer-card-picture {
    width: 75%;
  }
  .footer-one-card-text {
    font-size: 19px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 18px;
    height: 22%;
    margin-top: 1rem;
  }
  .footer-card-inside {
    bottom: -13rem;
  }
  .footer-card-content {
    top: -10rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-card-picture {
    width: 80%;
  }
  .footer-one-card-text {
    font-size: 19px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 13px;
    height: 21%;
    width: 13%;
    margin-top: 1rem;
  }
  .footer-card-inside {
    bottom: -10rem;
  }
  .footer-card-content {
    top: -12rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-card-picture {
    width: 90%;
  }
  .footer-one-card-text {
    font-size: 17px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 13px;
    height: 17%;
    width: 17%;
    margin-top: 1rem;
  }
  .footer-card-inside {
    bottom: -10rem;
  }
  .footer-card-content {
    top: -12rem;
  }
  .footer-icon{
    margin-left: 0px !important;
  }
  .footer-map-icon{
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 450px) {
  .footer-card-picture {
    width: 100%;
  }
  .footer-one-card-text {
    font-size: 13px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 12px;
    height: 15%;
    width: 22%;
    margin-top: 8px;
  }
  .footer-card-inside {
    bottom: -10rem;
  }
  .footer-card-content {
    top: -12rem;
  }
}

@media screen and (max-width: 380px) {
  .footer-card-picture {
    width: 100%;
  }
  .footer-one-card-text {
    font-size: 13px;
  }
  .footer-one-card-button {
    background-color: rgb(61, 61, 61);
    font-size: 12px;
    height: 15%;
    width: 22%;
    margin-top: 8px;
  }
  .footer-card-inside {
    bottom: -9rem;
  }
  .footer-card-content {
    top: -12rem;
  }
}
