.footer-card-container {
  position: relative;
}
.footer-card-content {
  top: -30rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-card-picture {
  width: 70%;
}
.footer-one-card-text {
  color: white;
  font-weight: bold;
  font-size: 60px;
  line-height: initial;
}
.footer-one-card-button {
  background-color: rgb(61, 61, 61);
  width: 11%;
  height: 40%;
  font-size: 31px;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
}
.footer-one-card-button:hover {
  box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.aabb {
  position: absolute;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  bottom: 4rem;
}
/* @media screen and (max-width: 600px) {
  .footer-card-picture {
    width: 100% !important;
  }
  .footer-one-card-text {
    font-size: 18px !important;
    left: 5% !important;
  }
  .footer-one-card-button {
  }
}

@media screen and (max-width: 880px) {
  .footer-card-picture {
    width: 95%;
  }
  .footer-card-content {
  }
  .footer-one-card-text {
    font-size: 19px !important;
    top: 20% !important;
    left: 10% !important;
  }
  .footer-one-card-button {
    right: 14% !important;
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1110px) {
  .footer-card-content {
    top: -105px;
  }
  .footer-one-card-text {
    font-size: 24px !important;
  }
  .footer-one-card-button {
    width: 130px !important;
    height: 50px !important;
    font-size: 16px !important;
  }
}
@media screen and (max-width: 1440px) {
  .footer-card-content {
    top: -120px;
  }
  .footer-one-card-text {
    top: 17%;
    font-size: 31px;
  }
  .footer-one-card-button {
    width: 160px;
    height: 60px;
  }
}

@media screen and (max-width: 1620px) {
  .footer-one-card-text {
    left: 22%;
    font-size: 31px;
  }
  .footer-one-card-button {
    width: 180px;
    height: 65px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 24%;
    bottom: 27%;
  }
} */
@media only screen and (min-width: 300px) and (max-width: 550px) {
  .footer-card-container {
    top: 120px;
  }
  .footer-card-content {
    top: -20rem;
  }
  .footer-card-picture {
    width: 100%;
  }
  .aabb {
    bottom: -1rem !important;
  }
  .footer-one-card-text {
    font-size: 20px !important;
  }

  .footer-one-card-button {
    width: 23%;
    height: 24%;
    font-size: 16px;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 768px) {
  .footer-card-content {
    top: -22rem !important;
  }
  .footer-card-picture {
    width: 95% !important;
  }
  .aabb {
    bottom: 0rem !important;
    background-color: none;
  }
  .footer-one-card-text {
    font-size: 20px !important;
  }
  .footer-one-card-button {
    width: 21% !important;
    height: 23% !important;
    font-size: 18px !important;
    margin-top: 2rem !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-card-content {
    top: -22rem !important;
  }
  .footer-card-picture {
    width: 95% !important;
  }
  .aabb {
    bottom: -1rem !important;
    background-color: none;
  }
  .footer-one-card-text {
    font-size: 25px !important;
  }
  .footer-one-card-button {
    width: 21% !important;
    height: 28% !important;
    font-size: 20px !important;
    margin-top: 2rem !important;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .footer-card-content {
    top: -22rem !important;
  }
  .footer-card-picture {
    width: 95% !important;
  }
  .aabb {
    bottom: -3rem !important;
    background-color: none;
  }
  .footer-one-card-text {
    font-size: 30px !important;
  }
  .footer-one-card-button {
    width: 21% !important;
    height: 28% !important;
    font-size: 20px !important;
    margin-top: 2rem !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .footer-card-content {
    top: -22rem !important;
  }
  .footer-card-picture {
    width: 75% !important;
  }
  .aabb {
    bottom: -3rem !important;
    background-color: none;
  }
  .footer-one-card-text {
    font-size: 30px !important;
  }
  .footer-one-card-button {
    width: 15% !important;
    height: 28% !important;
    font-size: 20px !important;
    margin-top: 2rem !important;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1600px) {
  .footer-card-content {
    top: -22rem !important;
  }
  .footer-card-picture {
    width: 75% !important;
  }
  .aabb {
    bottom: -3rem !important;
    background-color: none;
  }
  .footer-one-card-text {
    font-size: 30px !important;
  }
  .footer-one-card-button {
    width: 15% !important;
    height: 28% !important;
    font-size: 20px !important;
    margin-top: 2rem !important;
  }
}

@media screen and (max-width: 1920px) {
  .footer-card-container {
    top: 120px;
  }
  .footer-one-card-text {
    font-size: 38px;
  }
  .aabb {
  }
}
