.event-detail {
  margin-top: 70px;
}
.event-detail-cateogry {
  margin-bottom: 25%;
}
.detail-category {
  margin: 50px 0px 0px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
}
.event-detail-share {
  align-items: center;
  border-top: 1px solid #dddddd;
  padding: 20px 0px 0px 0px;
}
.event-detail-footer {
  margin: 50px 0px 80px 0px;
}
.event-detail-same {
  width: 250px;
}
.event-detail-content {
  width: 70% !important;
  margin-right: auto !important;
}
.event-detail-content > p {
  background-color: white !important;
}

.event-detail-button {
  border: 0px;
  width: auto;
  height: auto;
  border-radius: 3px;
  font-size: 12px;
  color: #6a6a6a;
  font-weight: bold;
  padding: 5px 19px 5px 20px;
  text-transform: capitalize;
  background-color: #efefef;
}

.category-list-item {
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
}
.category-list-item > a {
  color: #6a6a6a;
}
.category-list-item > a:hover {
  color: #3d3d3d;
}
.input-search-details {
  font-size: 12px;
}
.share-button-item {
  justify-content: end !important;
  margin-top: 5px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 425px) {
  .event-detail-content {
    width: 100% !important;
    margin-right: auto !important;
  }
  .share-button-item {
    justify-content: start !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .event-detail-content {
    width: 100% !important;
    margin-right: auto !important;
  }
  .share-button-item {
    margin-top: 15px;
    justify-content: start !important;
  }
}

@media only screen and (min-device-width: 991px) and (max-device-width: 1024px) {
  .category-list-item {
    font-size: 12px !important;
  }
  .detail-category {
    font-size: 18px;
  }
  .category-list-item {
    margin-top: 10px;
  }
}
