.page-banner-event-title{
    position: absolute;
    color: white;
    font-size: 45px;
    font-weight: bold;
}
.page-banner-content{
    position: absolute;
    width: 40%;
    height: 25%;
    margin-left: 20%;
}
.banner-event-date-author{
    position: absolute !important;
    color: white;
    margin-top: 10%;
}
.banner-event-date-author > p{
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
    color: white;
}
.page-banner-event{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}
.page-banner-event-content-white{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff6e;
}
.page-banner-event-content-none{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
}
.page-banner-event-image{
    width: 100%;
    height: auto;
}
.page-banner-date-icon{
    color:white;
    font-size: 23px;
    margin-right: 5px;
    margin-bottom: 2px;
}