.card-event {
  width: 99%;
}
.card-about-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-title {
  font-weight: bold;
  font-size: 16px;
}
.card-event-img {
  border-radius: 4px 4px 0px 0px;
  width: auto;
  height: 250px;
  object-fit: cover;
  object-position: 100% 20%;
}
.card-read-more {
  display: flex;
  justify-content: end;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 16px;
  color: black;
  border-top: 1px solid #e3e3e3;
  padding: 10px 10px 0px 10px;
  cursor: pointer;
}

.edition-badge {
  margin: 10px 0px 10px 0px;
}
.edition-badge-icon {
  text-transform: capitalize;
  background-color: #fff0e1;
  color: black;
  font-size: 16px;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
}

.card-date {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-date-icon {
  color: #ff9c38;
  margin-right: 5px;
  font-size: 20px;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 400px) {
}

@media only screen and (min-device-width: 400px) and (max-device-width: 550px) {
}

@media only screen and (min-device-width: 425px) and (max-device-width: 768px) {
  .card-title {
    font-size: 15px;
    margin: 0px 15px 0px 15px;
  }
  .card-read-more {
    padding: 7px 10px 0px 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .card-title {
    font-size: 15px;
    margin: 0px 15px 0px 15px;
  }
  .card-read-more {
    padding: 7px 10px 0px 10px;
  }
  .event-button {
    font-size: 11px;
  }
  .btn-container {
    padding: 5px 15px 0px 0px;
  }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1050px) {
  .card-event {
    min-height: 310px;
  }
  .card-title {
    font-size: 13px;
    margin: 0px 15px 0px 15px;
  }
  .card-read-more {
    font-size: 13px;
    padding: 7px 10px 0px 10px;
  }
  .card-date {
    font-size: 12px;
    height: 100px;
  }
  .edition-badge-icon {
    font-size: 11px;
  }
  .card-event-img {
    height: 190px;
  }
  .event-button {
    font-size: 11px;
  }
  .btn-container {
    padding: 20px 15px 30px 0px;
  }
}

@media only screen and (min-device-width: 1051px) and (max-device-width: 1440px) {
  .card-title {
    font-size: 15px;
  }
  .card-date-content {
    font-size: 12px;
  }
  .card-date-icon {
    font-size: 16px;
  }
  .card-date {
    height: 120px;
  }
  .card-read-more {
    font-size: 14px;
  }
  .edition-badge-icon {
    font-size: 13px;
    margin: 0px;
  }
  .btn-container {
    padding: 20px 20px 30px 0px;
  }
  .event-button {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1920px) {
  .card-date-content {
    font-size: 12px;
  }
  .card-date-icon {
    font-size: 16px;
  }
  .card-date {
    height: 120px;
  }
  .card-read-more {
    font-size: 14px;
  }
  .edition-badge-icon {
    font-size: 13px;
  }
  .card-title {
    font-size: 16px;
    padding: 10px 10px 10px 10px;
  }
}

@media only screen and (min-device-width: 1920px) and (max-device-width: 2560px) {
}
