.card-about-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card-title {
    font-weight: bold;
    font-size: 20px;
    padding: 30px 15px 30px 15px;
}
.card-event-img {
    width: auto;
    height: 150px;
    object-fit: cover;
    object-position: 100% 20%;
}
.card-read-more {
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    border-top: 1px solid #e3e3e3;
    padding: 10px 10px 0px 10px;
}
.card {
    border: none;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.badge {
    width: auto !important;
    margin: 10px;
}
