.btn-container {
  padding: 20px 30px 30px 0px;
}
.event-button {
  background-color: #fff0e1;
  border: 0px;
  margin: 5px;
  height: auto;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}
.event-card-container {
  margin-top: 25px !important;
  width: 100%;
}
.event-button-right {
  border: 0;
  width: auto;
  background-color: #fff0e1;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .btn-container {
    padding: 0px 10px 8px 0px;
  }
  .event-button {
    font-size: 10px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 425px) {
  .btn-container {
    padding: 0px 12px 10px 0px;
  }
  .event-button {
    font-size: 11px;
  }
}

@media only screen and (min-device-width: 425px) and (max-device-width: 768px) {
  .btn-container {
    padding: 0px 10px 10px 0px;
  }
  .event-button {
    font-size: 11px;
  }
}

@media only screen and (min-device-width: 991px) and (max-device-width: 1024px) {
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1440px) {
  .card-event-img {
    height: 130px;
  }
  .edition-badge-icon {
    font-size: 11px;
  }
  .edition-badge-icon {
    font-size: 11px;
  }
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1600px) {
}

@media only screen and (min-device-width: 1600px) and (max-device-width: 2560px) {
}
