.headerImage {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-now-banner {
  width: 250px;
  margin-top: 50px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.primary-text {
  font-size: 95px;
  color: black;
  font-weight: bold;
  margin: 0px;
  line-height: 1.5;
  margin-left: 35%;
}
.secondary-text {
  font-size: 95px;
  color: black;
  font-weight: 100;
  word-spacing: 16px;
  line-height: 0.5;
  margin-left: 35%;
}
.tertiary-text {
  font-size: 25px;
  font-weight: 600;
  color: black;
  line-height: 1.2;
  margin-left: 35%;
  font-weight: 100;
  width: 65%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  border-radius: 8px;
  border: 1px solid #ffffff00;
  width: 150px;
  height: 50px;
  background-color: #f86f03;
  font-weight: bold;
  color: white;
  font-size: 18px;
}
.banner-now-header-text {
  position: relative;
  margin-top: 15px;
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.splash-brush {
  width: 150px;
  position: absolute;
  height: 30px;
  top: 40px;
  left: 50%;
}
.headerImage:hover > .splash-brush {
  content: '';
  position: absolute;
  top: 30%;
  left: 50%;
  width: 0;
  height: 48%;
  background-size: inherit;
  transform-orgin: left;
  transition: 0.8s;
  background-size: 250px;
  /* color: blue; */
  background-repeat: no-repeat;
}

.banner-now-right-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.banner-now-image {
  position: relative;
  width: 45%;
}
.banner-now-first-image {
  width: 100%;
  height: 500px;
  border-radius: 50px 10px 50px 10px;
  object-fit: fill;
  object-position: 100% 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.banner-now-second-image {
  position: absolute;
  top: 10%;
  left: 105%;
  width: 50%;
  height: 250px;
  border-radius: 10px 45px 10px 50px;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 100% 20%;
  object-position: 100% 20%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.banner-now-button {
  position: absolute;
  bottom: 20%;
  left: 52%;
}
.btn-hover-now-banner:hover {
  box-shadow: 1px 6px 15px rgb(0 0 0 / 40%);
  transform: scale(1.01);
  color: white;
}

.banner-now-button:hover {
  box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.banner-now-button-content {
  border: oldlace;
  background-color: white;
  padding: 23px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

/* For 480 Resolution */
@media screen and (max-width: 321px) {
  .primary-text {
    font-size: 65px;
    margin-top: 15px;
    line-height: 0.9;
    margin-left: 10%;
    text-align: center;
    width: 80%;
  }
  .secondary-text {
    font-size: 65px;
    line-height: 0.9;
    text-align: center;
    margin-left: 10%;
    width: 80%;
  }
  .tertiary-text {
    font-size: 20px;
    line-height: 1;
    margin-left: 10%;
    text-align: center;
    width: 80%;
  }
  .image > img {
    width: 90% !important;
  }
  .button {
    text-align: center;
    margin-left: 30% !important;
  }
}
@media screen and (max-width: 480px) {
  .primary-text {
    font-size: 65px;
    margin-top: 15px;
    line-height: 0.9;
    margin-left: 10%;
    text-align: center;
    width: 80%;
  }
  .secondary-text {
    font-size: 65px;
    line-height: 0.9;
    text-align: center;
    margin-left: 10%;
    width: 80%;
  }
  .tertiary-text {
    font-size: 20px;
    line-height: 1;
    margin-left: 10%;
    text-align: center;
    width: 80%;
  }
  .image > img {
    width: 90% !important;
  }
  .button {
    text-align: center;
    margin-left: 30% !important;
  }
}

/* For 640 Resolution */
@media screen and (max-width: 700px) {
  .primary-text {
    font-size: 50px;
    margin-top: 15px !important;
    line-height: 1 !important;
    margin-left: 10% !important;
    text-align: center;
    width: 80%;
  }
  .secondary-text {
    font-size: 40px;
    line-height: 0.9;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 80%;
  }
  .tertiary-text {
    font-size: 18px;
    line-height: 1;
    margin-left: 10%;
    text-align: center;
    width: 80%;
  }
  .button {
    margin-left: 35% !important;
  }
  .image > img {
    width: 100% !important;
  }
  .image-banner-now {
    width: 50%;
  }
  .image-banner-now {
    width: 50%;
  }
  .banner-now-image {
    width: 60% !important;
  }
  .banner-now-first-image {
    height: 300px !important;
  }
  .banner-now-second-image {
    width: 75% !important;
    height: 150px !important;
  }
  .banner-now-button {
    left: 55% !important;
    bottom: 20% !important;
  }
}

/* For 1024 Resolution */
@media screen and (max-width: 991px) {
  .primary-text {
    font-size: 50px;
    margin-top: 15px !important;
    line-height: 1 !important;
    margin-left: 10% !important;
    text-align: center;
    width: 80%;
  }
  .secondary-text {
    font-size: 40px;
    line-height: 0.9;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 80%;
  }
  .tertiary-text {
    font-size: 18px;
    line-height: 1;
    margin-left: 10%;
    text-align: center;
    width: 80%;
  }
  .button {
    margin-left: 41%;
  }
  .image > img {
    width: 100% !important;
  }
  .image-banner-now {
    width: 80%;
  }
  .banner-now-image {
    width: 50% !important;
  }
  .banner-now-second-image {
    width: 75% !important;
    margin-left: 35px !important;
  }
  .banner-now-button {
    left: 60% !important;
  }
}

@media screen and (max-width: 1024px) {
  .primary-text {
    font-size: 65px;
    line-height: 1;
  }
  .secondary-text {
    font-size: 55px;
    line-height: 0.8;
  }
  .tertiary-text {
    font-size: 18px;
    line-height: 1;
  }
  .now-text-container > p {
    margin-bottom: 10px;
  }
  .banner-now-second-image {
    width: 65%;
  }
}

@media screen and (max-width: 1440px) {
  .primary-text {
    font-size: 65px;
    line-height: 1;
  }
  .secondary-text {
    font-size: 55px;
    line-height: 0.8;
  }
  .tertiary-text {
    font-size: 18px;
    line-height: 1;
  }
  .now-text-container > p {
    margin-bottom: 10px;
  }
  .banner-now-first-image {
    height: 350px !important;
    border-radius: 10px 45px 10px 45px;
  }
  .banner-now-second-image {
    width: 55%;
    height: 200px;
    border-radius: 10px 45px 10px 45px;
  }
  .banner-now-button-content {
    padding: 15px;
  }
  .banner-now-button {
    bottom: 16%;
    left: 48%;
  }
}

@media screen and (max-width: 1700px) {
  .primary-text {
    font-size: 65px;
    line-height: 1;
  }
  .secondary-text {
    font-size: 55px;
    line-height: 0.8;
  }
  .tertiary-text {
    font-size: 18px;
    line-height: 1;
  }
  .now-text-container > p {
    margin-bottom: 10px;
  }
}
