@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100&family=Hind:wght@300;400;500&display=swap');
* {
  font-family: 'Hind', sans-serif !important;
}
.carousel .carousel-indicators li {
  background-color: black;
}
.carousel .carousel-indicators li.active {
  background-color: var(--primary);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 60%;
  padding: 15px;
}
.nav .nav-link {
  color: darkorange;
}
.awssld__bullets .awssld__bullets--active,
.awssld__bar {
  background-color: orange !important;
}
.image-2 {
  margin-bottom: 40px;
  padding-left: 112px;
}
.awssld__controls__arrow-left:before,
.awssld__controls__arrow-left:after,
.awssld__controls__arrow-right:before,
.awssld__controls__arrow-right:after {
  background-color: rgb(255, 254, 253) !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 940px;
  }
}

@media only screen and (min-device-width: 991px) and (max-device-width: 1150px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 720px;
  }
}
@media only screen and (min-device-width: 1150px) and (max-device-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 850px;
  }
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 960px;
  }
}

@media only screen and (min-device-width: 1600px) and (max-device-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 999px;
  }
}
@media only screen and (min-device-width: 1920px) and (max-device-width: 2560px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1233px;
  }
}
